#sidebar-link {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

#sidebar-link > li {
  border-radius: var(--radius-md--);
}

#sidebar-link > li > a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 4px;
  border-radius: var(--radius-md--);
  width: 100%;
}
#sidebar-link > li > button {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 4px;
  border-radius: var(--radius-md--);
  width: 100%;
}

#sideBar-link > li > a {
  font-weight: var(--font-normal--);
  color: var(--black-18--);
}
#sidebar-link > li > button {
  font-weight: var(--font-normal--);
  color: var(--black-18--);
}

#sidebar-link > li > .active {
  background-color: var(--hover-bg--);
}

#sidebar-link > li:hover {
  background: var(--hover-bg--);
}

.dark #sidebar-link > li:hover {
  background: var(--dark-hover-bg--);
}
.dark #sidebar-link > li > .active {
  background: var(--dark-hover-bg--);
}

#sidebar-link > li > a > div {
  font-size: 28px;
}
#sidebar-link > li > button > div {
  font-size: 28px;
}

@media only screen and (min-width: 280px) and (max-width: 900px) {
  #sidebar-link > li > .active > div {
    color: var(--link-color--);
  }

  #sidebar-link > li > .active {
    background-color: var(--white-3--);
  }

  #sidebar-link > li:hover {
    background-color: var(--white-3--);
  }

  .dark #sidebar-link > li:hover {
    background: var(--black-7--);
  }
  .dark #sidebar-link > li > .active {
    background: var(--black-7--);
  }
}
