@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  ---pink-1--: #e5c3c9;
  --purple-1--: #800080;
  --orange-1--: #ffa500;
  --white-1--: rgba(255, 255, 255, 0.05);
  --white-2--: rgba(255, 255, 255, 0.1);
  --red-1--: #f02849;
  --blue-1--: #1b74e4;
  --black-1--: #323436;
  --black-2--: #242526;
  --gray-1--: #7a7d82;
  --gray-2--: #b0b3b8;
  --blue-2--: #5faaff;
  --blue-3--: #1b74e4;
  --white-3--: #fff;
  --gray-3--: #e4e6eb;
  --gray-4--: #b0b3b8;
  --blue-4--: #1b74e4;
  --white-4--: rgba(255, 255, 255, 0.1);
  --gray-5--: #7a7d82;
  --gray-6--: #adadad;
  --hover-bg--: rgba(0, 0, 0, 0.05);
  --red-2--: #f02849;
  ---pink-2--: #ffc0cb;
  --red-3--: #ff0000;
  --gray-7--: #8a8d91;
  --green-1--: #31a24c;
  --blue-5--: #76b6ff;
  --white-5--: rgba(255, 255, 255, 0.8);
  --black-4--: #050505;
  --black-5--: 0 2px 4px rgba(0, 0, 0, 0.1);
  --link-color--: rgb(0, 0, 0);
  --black-7--: rgb(0, 0, 0);
  --gray-8--: rgb(153, 153, 153);
  --blue-6--: rgb(245, 251, 255);
  --blue-7--: rgb(224, 241, 255);
  --blue-8--: rgb(179, 219, 255);
  --blue-9--: rgb(112, 188, 255);
  --blue-10--: rgb(71, 175, 255);
  --blue-11--: rgb(0, 149, 246);
  --blue-12--: rgb(0, 116, 204);
  --blue-13--: rgb(0, 87, 163);
  --link-color--: rgb(0, 55, 107);
  --blue-15--: rgb(0, 41, 82);
  --black-8--: rgb(54, 54, 54);
  --cyan-1--: rgb(39, 196, 245);
  --pink-3--: rgb(211, 0, 197);
  --orange-2--: rgb(255, 122, 0);
  --pink-4--: rgb(255, 1, 105);
  --purple-2--: rgb(118, 56, 250);
  --red-4--: rgb(255, 48, 64);
  --yellow-1--: rgb(255, 214, 0);
  --green-2--: rgb(120, 222, 69);
  --green-3--: rgb(88, 195, 34);
  --green-4--: rgb(55, 166, 0);
  --gray-9--: rgb(245, 245, 245);
  --gray-10--: rgb(239, 239, 239);
  --gray-11--: rgb(219, 219, 219);
  --gray-14--: rgb(199, 199, 199);
  --gray-15--: rgb(168, 168, 168);
  --gray-16: -- rgb(142, 142, 142);
  --gray-17--: rgb(115, 115, 115);
  --gray-18--: rgb(85, 85, 85);
  --gray-19--: rgb(54, 54, 54);
  --gray-20--: rgb(38, 38, 38);
  --gray-21: rgb(26, 26, 26);
  --red-9--: rgb(255, 48, 64);
  --white-6--: rgb(255, 255, 255);
  --green-4--: rgb(28, 209, 79);
  --blue-16--: rgb(169, 219, 255);
  --white-7--: rgb(255, 255, 255);
  --white-8--: rgb(239 239 239);
  --white-9--: rgb(219, 219, 219);
  --red-11--: rgb(237, 73, 86);
  --blue-17--: rgb(53, 121, 234);
  --gray-20--: rgb(168, 168, 168);
  --white-10--: rgb(239, 239, 239);
  --black-21--: rgba(0, 0, 0, 0.05);
  --blue-18--: rgb(0, 55, 107);
  --pink-5--: rgb(255, 1, 105);
  --white-11--: rgb(255, 255, 255);
  --button-primary--: rgb(0, 149, 246);
  --blue-20--: rgb(24, 119, 242);
  --black-9--: rgb(38, 38, 38);
  --black-10--: rgb(0, 0, 0);
  --white-12--: rgb(250, 250, 250);
  --black-11--: rgb(38, 38, 38);
  --off-white-1--: rgb(239, 239, 239);
  --white-13--: rgb(255, 255, 255);
  --off-white-2--: rgb(219, 219, 219);
  --off-white-3--: rgb(245, 245, 245);
  --black-12--: rgb(38, 38, 38);
  --gray-21--: rgb(142, 142, 142);
  --gray-22--: rgb(115, 115, 115);
  --gray-23--: rgb(219, 219, 219);
  --white-14--: rgb(255, 255, 255);
  --purple-: rgb(118, 56, 250);
  --green--: rgb(88, 195, 34);
  --white-15--: rgb(245, 251, 255);
  --off-white-4--: rgb(199, 199, 199);
  --off-white-5--: rgb(199, 199, 199);
  --off-white-6--: rgb(219, 223, 228);
  --black-13--: rgb(15, 20, 25);
  --off-white-7--: rgb(255, 255, 255);
  --white-16--: rgb(255, 255, 255);
  --black-14--: rgb(15, 20, 25);
  --white-17--: rgb(219, 223, 228);
  --off-white-8--: rgb(162, 170, 180);
  --black-15--: rgba(0, 0, 0, 0.85);
  --black-16--: rgba(0, 0, 0, 0.65);
  --orange-3--: rgb(253, 141, 50);
  --dfdfd--: rgb(209, 8, 105);
  --off-white-9--: rgb(239, 239, 239);
  --purple-3--: rgb(163, 7, 186);
  --red-5--: rgb(255, 104, 116);
  --red-6--: rgb(237, 73, 86);
  --red-7--: rgb(198, 35, 48);
  --red-8--: rgb(167, 3, 17);
  --black-17--: rgb(0, 0, 0);
  --black-18--: rgb(0, 0, 0);
  --white-18--: rgb(255, 255, 255);
  --black-19--: rgb(38, 38, 38);
  --white-19--: rgb(224, 241, 255);
  --yellow-2--: rgb(253, 203, 92);
  --blue-21--: #0064e0;
  --blue-22--: #1c2b33;
  --white-20--: #f1f4f7;
  --blue-23--: #1c2b33;
  --blue-24--: #0064e0;
  --black-20--: rgba(0, 0, 0, 0.05);
  --font-bold--: 700;
  --font-extra-bold--: 800;
  --font-extra-light--: 200;
  --font-light--: 300;
  --font-medium--: 500;
  --font-normal--: 400;
  --font-semibold--: 600;
  --system-font-family--: "Roboto", sans-serif, "Poppins", "Open Sans";
}


/* --scroll-bar-design-- */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--button-primary--);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #555;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #635fc7;
}


body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: var(--system-font-family--);
  max-width: 100vw;
  background: var(--white-6--);
  color: var(--black-10--);
  line-height: 18px;
  overflow: hidden;
}

/* ---global--style-- */
.button-primary {
  background: var(--button-primary--);
  color: var(--white-3--);
  font-size: 14px;
  font-weight: var(--font-medium--);
  padding: 8px 10px;
  cursor: pointer;
  border-radius: 6px;
}

.link-color {
  color:var(--link-color--)
}

.error-color{
  color : var(--red-3--)
}

/* ---app-component-css- */
.after-load-screen {
  position: fixed;
  z-index: 100;
  background: var(--white-6--);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.from-afer-screen-text-color > h1 {
  color: var(--black-10---);
  font-size: 1rem;
  font-weight: var(--font-noraml--);
  padding-bottom: 4px;
}

.from-afer-screen-text-color > h2 {
  color: var(--black-1--);
  font-weight: var(--font-bold--);
  font-size: 1.2rem;
}

.sidebar-header {
  border-right-width: 1px;
  border-color: var(--gray-23--);
  min-height: 100vh;
}

/* ---SideNavBar-component-css-- */

#sidebar-link {
  display: flex;
  flex-direction: column;
  gap: 4px;

}


#sidebar-link > li {
  width: 100%;
}



#sidebar-link > li > a {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 0px;
  border: 1px solid black;
  width: 100%;
 
}
#sidebar-link > li > button{
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 0px;
  border: 1px solid black;
  width: 100%;
 
}


#sideBar-link > ul > li > a,
button > span {
  font-weight: var(--font-normal--);
  color: var(--black-1--);
  
}
#sidebar-link > li > button > span {
  font-weight: var(--font-normal--);
  color: var(--black-1--);
}

#sidebar-link > li > .active {
  font-weight: var(--font-extra-bold--);
  

}

#sidebar-link > li:hover {
  background: var(--hover-bg--);
}

#sidebar-link > li > a > div {
  font-size: 24px;
}
#sidebar-link > li > button > div {
  font-size: 24px;
  margin: auto;
}



/* ---register-form-css---- */

.form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;


  
}
.form > div >label > input{
  border: 1px solid var(--gray-23--);
  width: 100%;
  padding: 8px 4px ;
  border-radius: 5px;
  font-weight: var(--font-normal--);
  font-size: 14px;
  background-color: var(--white-12--);
  outline: none;
  transition: all 0.5s;
  text-overflow: ellipsis ;
  
}
.register-form > div >label > input::placeholder{
  color: var(--gray-17--);
  font-size: 13px;
}
.register-form > div >label > input:focus{
  border: 1px solid var(--link-color--);
}

/* ---more-page-css-- */

#more-link {
  display: flex;
  flex-direction: column;
  gap: 4px;

}



#more-link > li > a {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 0px;
  border: 1px solid black;
  width: 100%;
 
}
#more-link > li > button{
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 0px;
  border: 1px solid black;
  width: 100%;
 
}






@media only screen and (min-width: 280px) and (max-width: 900px) {

  
#sideBar-link > ul > li > .active > div {
  color: var(--link-color--);
  font-weight: var(--font-extra-bold--);
  

}

}
